<%- include("../_header") -%>
<link rel="stylesheet" type="text/css" href="/styles/dashboard.css"></link>
<script>
    function showCredit() {
        let popupSound = new Howl({src: ['/sound/S_popup.mp3']});
        popupSound.play();
        
        if (document.getElementById('credit')) {
            common.showPopup("credit");
        } else {
            common.addPopup({
                popupId: "credit",
                content: "<%- translation.CREDIT_TEXT.replace(/\n/g, "\\n") %>",
                subImgURL: "/images/misc/credit.png",
                buttons: [
                    {
                        title: "<%= translation.CONFIRM %>",
                        onclick: () => {
                            let yesSound = new Howl({src: ['/sound/yes.mp3']});
                            yesSound.play();
                            common.hideAllPopup();
                        }
                    }
                ]
            });
        }
    }

</script>
    <div id="cloud"></div>
    <div id="home"></div>
    <img id="scarecrow" src="/images/misc/scarecrow.png"/>
    
    <% if (locals.stage_01 && locals.stage_02 && locals.stage_03) { %>
        <a class="reward-container" onclick="common.redirectWithSound('/sound/coin.mp3', '/reward');">
            <img class="corn-coin" alt="<%= translation.TITLE %>" src="/images/misc/corn_coin.gif" />
            <div class="button reward"><%= translation.GET_REWARD %></div>
        </a>
    <% } else { %>
        <div class="title-container">
            <img class="title" alt="<%= translation.TITLE %>" src="/images/misc/title<%= lang=='en' ? '_en' : ''%>.png" />
        </div>
    <% } %>
    <div class="bottom-container">
        <div class="menu-container">
            <form id="form" class="button" action="/user/logout" method="post">
                <input type="submit" value="<%= translation.LOGOUT %>" /> 
            </form>
            <button onclick="showCredit()" class="button"><%= translation.CREDIT %></button>
        </div>
        <div class="levels-container">
            <a class="button <%= locals.stage_01 ? "completed" : "" %>" onclick="common.redirectWithSound('sound/levelStart.mp3', '/tutorial/01')"><%= translation.LEVEL_01 %></a>
            <% if (locals.stage_01) { %>
                <a class="button <%= locals.stage_02 ? "completed" : "" %>" onclick="common.redirectWithSound('sound/levelStart.mp3', '/tutorial/02')"><%= translation.LEVEL_02 %></a>
            <% } else { %>
                 <div class="button disabled"><%= translation.LEVEL_02 %></div>
            <% } %>
            <% if (locals.stage_01 && locals.stage_02) { %>
                <a class="button <%= locals.stage_03 ? "completed" : "" %>" onclick="common.redirectWithSound('sound/levelStart.mp3', '/tutorial/03')"><%= translation.LEVEL_03 %></a>
            <% } else { %>
                 <div class="button disabled"><%= translation.LEVEL_03 %></div>
            <% } %>
        </div>
    </div>
    <a class="language-button" href="/?clang=<%= lang=='ko' ? 'en' : 'ko'%>"><%= lang=='ko' ? 'SWITCH TO ENGLISH' : '한국어로 보기'%></a>
<%- include("../_footer") -%>