<%- include("../_header") -%>
<%- include("../_nav") -%>
<script>
    function exchangeReward() {
      const form = document.createElement('form');
      form.setAttribute('action', '/user/reward');
      form.setAttribute('method', 'POST');
      document.body.appendChild(form);
      form.submit();
    }
    
    function showExchangeRewardPopup() {
      let victorySound = new Howl({src: ['sound/victory.mp3']});
      victorySound.play();
      
      if (document.getElementById('reward')) {
        common.showPopup('reward');
      } else {
        common.addPopup({
          popupId: 'reward',
          content: '<%- translation.REWARD_TEXT.replace(/\n/g, "\\n") %>',
          buttons: [
            {
              title: '<%- translation.REWARD_ACTION.replace(/\n/g, "\\n") %>',
              onclick: () => {
                let yesSound = new Howl({src: ['/sound/yes.mp3']});
                yesSound.play();
                exchangeReward();
              }
            },
            {
              title: '<%- translation.REWARD_CANCEL.replace(/\n/g, "\\n") %>',
              onclick: () => {
                let noSound = new Howl({src: ['/sound/no.mp3']});
                noSound.play();
                common.hideAllPopup();
              },
            },
          ],
        });
      }
    }
    
    document.addEventListener('DOMContentLoaded', () => {
      if (document.getElementById('exchange-reward')) {
        document.getElementById('exchange-reward').addEventListener('click', showExchangeRewardPopup);
      }
    });
</script>
<link rel="stylesheet" type="text/css" href="/styles/reward.css"></link>
    <h3 style="white-space:pre;"><%= translation.REWARD_TITLE %></h3>
    <% if (locals.reward_exchanged) { %>
        <img class="coin expired" src="/images/misc/corn_coin.gif" />
        <p class="description"><%= translation.REWARD_EXPIRED %></p>
    <% } else { %>
        <img class="coin" id="exchange-reward" src="/images/misc/corn_coin.gif" />
        <p class="description"><%= translation.REWARD_GUIDE %></p>
    <% } %>
<%- include("../_footer") -%>