
<%- include("../_header") -%>
<link rel="stylesheet" type="text/css" href="/styles/signup.css"/>
<script>
    // in case of error and rerendered
    const tokenFromSever = '<%= locals.token %>';
    if (tokenFromSever != '') {
        window.history.replaceState(null, null, `${window.location.pathname}?token=${tokenFromSever}`);
    }
    
    const params = new Proxy(new URLSearchParams(window.location.search), {
      get: (searchParams, prop) => searchParams.get(prop),
    });
    let token = params.token; 
    
    function submitForm(action){
        let form = document.getElementById("form");
        if (validateName() && validateEmail() && validateCheckbox()) {
            let startSound = new Howl({
                src: ['/sound/levelStart.mp3'],
                onend: () => {
                    document.getElementById('token').value = token;
                    form.action = action;
                    form.method = 'POST';
                    form.submit();
                }
            });
            startSound.play();
        }
    }

    function validateName() {
        let name = document.getElementById("name");
        if (name && name.value.trim() != "") {
            return true;
        } else {
            alert("<%= translation.NICKNAME_ERROR %>");
        }
    }

    function validateEmail() {
        let email = document.getElementById("email");
        let regex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/g;
        if (email && email.value.match(regex)) {
            return true;
        } else {
            alert("<%= translation.EMAIL_ERROR %>");
        }
    }

    function validateCheckbox() {
        let checkbox = document.getElementById("checkbox");
        if (checkbox.checked) {
            return true;
        } else {
             alert("<%= translation.AGREEMENT_ERROR %>");
        }
    }
    
    function redirectToLogin(event) {
        const params = new Proxy(new URLSearchParams(window.location.search), {
          get: (searchParams, prop) => searchParams.get(prop),
        });
        let token = params.token; 
        
        let yesSound = new Howl({
            src: ['/sound/yes.mp3'],
            onend: () => {
                location=`/login?token=${token}`;
            }
        });
        yesSound.play();
    }
    
    function handlePopupClick() {
        let yesSound = new Howl({src: ['/sound/yes.mp3']});
        yesSound.play();
        common.hideAllPopup();
    }
    
    function switchLanguage() {
        const params = new Proxy(new URLSearchParams(window.location.search), {
          get: (searchParams, prop) => searchParams.get(prop),
        });
        let token = params.token;
        
        location=`/register?clang=<%= lang=='ko' ? 'en' : 'ko'%>&token=${token}`;
    }
</script>
<main>
    <img id="title" alt="<%= translation.TITLE %>" src="/images/misc/title<%= lang=='en' ? '_en' : ''%>.png" />
    <form id="form" method="post" onsubmit="submitForm('/user/register'); return false">
        <fieldset>
            
            <label for="name"><%= translation.ENTER_NICKNAME %></label>
            <input 
                id="name"
                class="text-input"
                type="text" 
                name="name" 
                maxlength="64"
                placeholder="<%= translation.NICKNAME %>"
                required
            />
            <label for="email"><%= translation.ENTER_EMAIL %></label>
            <input 
                id="email"
                class="text-input"
                type="email"
                name="email"
                maxlength="64"
                placeholder="username@example.org"
                required
            />
            <label 
      
                class="checkbox-container" 
                for="checkbox"
            >
                <%= translation.AGREE_PERSONAL_INFORMATION %>
                <input 
                    id="checkbox"
                    type="checkbox"
                    name="personal-info-agreement"
                    required
                />
                <span class="checkmark"></span>
            </label>
            
            <input 
                type="button" 
                class="button" 
                onclick="submitForm('/user/register')" 
                value="시작"
            />
            <input type="hidden" name="token" id="token">
            <a class="guiding-text" onclick="redirectToLogin(event)"><%= translation.LOGIN_GUIDE %></a>
        </fieldset>
    </form>

    <% if (locals.status) { %>
    <div id="error-popup" class="popup">
        <p class="content">
            <%= translation[locals.status.message_code] %>
        </p>
        <div class="button-container">
            <button onclick="handlePopupClick()"><%= translation.CONFIRM %></button>
        </div>
    </div>
    <% } %>
    <a class="language-button" onclick="switchLanguage()"><%= lang=='ko' ? 'SWITCH TO ENGLISH' : '한국어로 보기'%></a>
</main>
<%- include("../_footer") -%>